<form action="{{ path('feed_reader_feed_list_feed_channel') }}" method="get" novalidate="novalidate" data-form-filter-list-channel>
    <div class="form-group">
        <label class="control-label">Filter by channel category:</label>
        {{ form_widget(filterListFeedChannelForm['feedChannelCategory'], {'attr': {'class': 'form-control', 'placeholder': '' }}) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Filter</button>
        <button type="button" class="btn btn-default"
                onclick="window.location.href='{{ path('feed_reader_feed_list_feed_channel') }}';">Reset
        </button>
    </div>
</form>