<div class="form-group text-left">
    <label class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-1">
                    <label class="control-label">{{ '<description>'|e }}</label>
                </div>
                <div class="col-md-6">
                    {{ form_widget(feedChannelItemForm['itemDescription'], {'attr': {'class': 'form-control', 'placeholder': '' }}) }}
                </div>
                <div class="col-md-1">
                    <label class="control-label">{{ '</description>'|e }}</label>
                </div>
            </div>
        </div>
    </div>
</div>