<div class="form-group text-left">
    <label class="col-md-1 control-label"></label>
    <div class="col-md-11">
        <div class="form-group">
            <div class="col-md-1">
                <label class="control-label">{{ '<title>'|e }}</label>
            </div>
            <div class="col-md-6">
                {{ form_widget(feedChannelForm['channelTitle'], {'attr': {'class': 'form-control', 'placeholder': '' }}) }}
            </div>
            <div class="col-md-1">
                <label class="control-label">{{ '</title>'|e }}</label>
            </div>
        </div>
    </div>
</div>