<div class="form-group text-left">
    <label class="col-md-1 control-label">{{ '<channel>'|e }}</label>
    <div class="col-md-11"></div>
</div>
{% include('FeedReaderBundle:Feed:elements/channel/_title.html.twig') %}
{% include('FeedReaderBundle:Feed:elements/channel/_link.html.twig') %}
{% include('FeedReaderBundle:Feed:elements/channel/_description.html.twig') %}
{% include('FeedReaderBundle:Feed:elements/channel/_category.html.twig') %}
{% include('FeedReaderBundle:Feed:elements/channel/_item.html.twig') %}
<div class="form-group text-left">
    <label class="col-md-1 control-label">{{ '<channel>'|e }}</label>
</div>